{% extends 'layout.html' %}

{% block content %}

<div class="row">
    <div class="col-12">
        <form>
            <div class="row">
                <div class="col-10">
                    <div class="form-group">
                        <input type="text" class="form-control" name="blog_post" id="blog_post"
                            aria-describedby="helpId" placeholder="What's up?">
                    </div>
                </div>
                <div class="col-2">
                    <button class="btn btn-info btn-block" type="button">
                        Post
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}